#interactive {
  max-width: 50rem;
}

.link {
  display: block;
  padding: 33px 0 0 0;
  color: #313131;
  text-decoration: none;
  cursor: pointer;
}

/*  ================================================
            TICKET STYLING & COUPON EFFECT
    ================================================  */
.ticket {
  position: relative;
  display: table;
  width: 100%;
  height: 228px;
  margin: 50px auto 0 auto;
  padding-bottom: 57px;
  background: #F4F4F4;
  text-align: center;
  &::before {
    content: "";
    position: absolute;
    top: 54.5%;
    left: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #a52958;
  }
  &::after {
    content: "";
    position: absolute;
    top: 54.5%;
    right: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #185661;
  }
}

/*  ================================================
                    RIBBON EFFECT
    ================================================  */
.ribbon {
  position: absolute;
  display: block;
  top: -4px;
  right: -4px;
  width: 110px;
  height: 110px;
  overflow: hidden;
  .label {
    position: relative;
    display: block;
    left: -10px;
    top: 23px;
    width: 158px;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
    color: #fff;
    background-color: #e85e68;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transform: rotate(45deg) translate3d(0, 0, 0);
    &:before, &:after {
      content: '';
      position: absolute;
      bottom: -4px;
      border-top: 4px solid #a71c26;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
  }
}

/*  ================================================
                        CONTENT
    ================================================  */
span {
  display: block;
  font-size: 29px;
  color: #540c5d;
}

strong {
  display: block;
  font-size: 45px;
  color: #a52958;
  margin: 0 0 10px 0;
}

em {
  display: block;
  font-size: 29px;
  font-style: normal;
  color: #86db78;
  border-top: 2px dashed rgba(0, 0, 0, .1);
  padding: 10px 0;
}

/*  ================================================
              ACTION CALL & ARROW UP EFFECT
    ================================================  */
.button {
  display: block;
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
  padding: 0;
  line-height: 58px;
  text-align: center;
  border-radius: 0;
  background-color: #86db78;
  &::before {
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 20px);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid #86db78;
  }
}
