<mat-card class="app-input-section hidden__sm" *ngIf="lastResult">
  <div class="ticket">
    <div class="datas">
      <a class="link">
        <div class="ribbon">
          <div class="label">LIMITED</div>
        </div>
        <span>Your Code is</span>
        <strong>{{ lastResult || async }}'</strong>
        <em *ngIf="!message">Searching...</em>
        <em *ngIf="message">{{message}}</em>
      </a>
    </div>
  </div>
</mat-card>

<mat-card>
  <p>Notice: You must allow to use your webcam. This Option only works on IE11+ and may not work with Android browser
    older version. Alternatively use upload file option.</p>

  <div class="show__sm" *ngIf="lastResult">
    <p>Your Code is</p>
    <p>{{ lastResult || async }}'</p>
    <p *ngIf="!message">Searching...</p>
    <p *ngIf="message">{{message}}</p>
  </div>

  <div id="interactive" class="viewport" #interactive></div>
</mat-card>


