<div class="flex-container" fxLayout="row" fxLayout.xs="column"
     fxLayoutAlign="center center"
     fxLayoutAlign.xs="start">

  <mat-card class="flex-item" fxFlex="50">

    <div class="flex-container" fxLayout="row">
      <div class="flex-item" fxFlex="100">
        <form class="example-form">
          <mat-form-field>
            <input matInput #isbn maxlength="256" placeholder="Barcode Number">
            <mat-hint align="start"><strong>Characters: </strong></mat-hint>
            <mat-hint align="end">{{isbn.characterCount}} / 50</mat-hint>
          </mat-form-field>
        </form>
      </div>
      <div class="flex-item" fxFlex="10">

        <button (click)="onClick()" mat-fab>
          <mat-icon>file_upload</mat-icon>
        </button>
        <input type="file" accept="image/*" capture="camera" #fileInputbox (cancel)="onCancel($event)"
               (change)="onChange($event)"
               [ngClass]="['none']">
      </div>

    </div>


    <div class="flex-container" fxLayout="column">
      <div class="thumbnail flex-item show__sm" *ngIf="resultCode">
        <div class="imgWrapper text-center"><img class="responsive-img" [src]="resultUrl"></div>
        <div class="caption text-center"><h3 class="code">{{resultCode}}</h3></div>
        <mat-spinner class="smaller app-spinner" *ngIf="!message"></mat-spinner>
        <div class="flex-item" *ngIf="message">
          {{message}}
        </div>
      </div>

      <mat-progress-bar *ngIf="startProgress"
                        class="app-progress flex-item"
                        mode="indeterminate"
                        aria-label="Indeterminate progress-bar example"></mat-progress-bar>

      <div class="flex-item" *ngIf="error">
        {{error}}
      </div>
    </div>
  </mat-card>

  <mat-card class="flex-item app-input-section hidden__sm" fxFlex="50" *ngIf="resultCode">

    <div class="container">
      <div class="tab"></div>
      <div class="paid"><p>Your Ticket Information</p></div>
      <div class="receipt">
        <div class="paper">
          <div class="title">Mr Blah Blahs</div>
          <div class="date">Date: 07/01/2016</div>
          <table>
            <tbody>
            <tr>
              <td>2 x Adult</td>
              <td class="right">$10</td>
            </tr>
            <tr>
              <td>1 x Child</td>
              <td class="right">$30</td>
            </tr>
            </tbody>
          </table>
          <div class="sign center">
            <img class="small-img" [src]="resultUrl">
            <br/>
            {{resultCode}}
            <br/>
            <mat-spinner class="smaller app-spinner" *ngIf="!message"></mat-spinner>
            <div class="flex-item" *ngIf="message">
              {{message}}
            </div>
            <div class="thankyou">
              Thank you for your business
            </div>
          </div>
        </div>

        <div>
        </div>
      </div>

    </div>

  </mat-card>

</div>


