<mat-sidenav #sidenav mode="side">
  <div class="flex-container"
       fxLayout="column">
    <button class="flex-item" mat-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode']">Homepage
    </button>
    <div class="flex-item">
      <hr>
    </div>
    <button class="flex-item" mat-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode/media']">Media Stream
    </button>
    <div class="flex-item">
      <hr>
    </div>
    <button class="flex-item" mat-button
            [routerLinkActive]="['active']"
            [routerLink]="['barcode/field']">Input File
    </button>
  </div>
</mat-sidenav>

